<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-us" xml:lang="en-us" >
  <head>
    <title>Shrank dos URLz</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style type="text/css">
		#title {
			position: absolute;
			top: 25px;
			left: 100px;
			float: left;
		}
		#about {
			position: absolute;
			color: #999;
			bottom: 10px;
			right: 5px;
			font-family: 'Gill Sans','Gill Sans MT',Corbel,Helvetica,'Nimbus Sans L',sans-serif;
		}
		#footer {
			position: absolute;
			bottom: 30px;
			right: 50px;
			font-size: 800%;
			font-family: 'Gill Sans','Gill Sans MT',Corbel,Helvetica,'Nimbus Sans L',sans-serif;
		}
		a, a:link, a:hover, a:visited {
			color: #444;
			text-decoration: none;
		}
		h1 {
			font-family: 'Gill Sans','Gill Sans MT',Corbel,Helvetica,'Nimbus Sans L',sans-serif;
		}
		form {
			position: relative;
			top: 150px;
			text-align: center;
		}
		form .text-input input {
			color: #0D3A57;
			display: block;
			font-family: Georgia,Times,serif;
			font-size: 32px;
			margin: 0 auto;
			padding: 4px 0;
			width: 500px;
		}
		form .submit-button input {
			position: relative;
			top: 5px;
			font-size: 20px;
		}
	</style>
  </head>
  <body>
	<form method='post'>
		<h1>Enter yo' lank.</h1>
		<div class="text-input">
			<input type="text" name="url">
		</div>
		<div class="submit-button">
			<input type="submit" value="Mash dat button">
		</div>
	</form>
    <div id=footer>
      	Shrank it!
    </div>
	<div id=about>
		What about views? Append "/views" to the url to see.
	</div>
  </body>
</html>